@inject IHttpContextAccessor ContextAccessor

<div class="nav-wrapper">
    <input type="checkbox" id="nav-toggle" class="nav-toggle" checked="@IsCollapsed" />
    <div class="nav-sidebar">
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand nav-text" href="">VsInsertions</a>
                <label class="navbar-toggler" for="nav-toggle" role="button" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </label>
            </div>
        </div>

        <div class="nav-scrollable">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        <span class="nav-text">Insertions</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="flows">
                        <span class="bi bi-diagram-3-nav-menu" aria-hidden="true"></span>
                        <span class="nav-text">Flows</span>
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div>

@code {
    private bool IsCollapsed =>
        ContextAccessor.HttpContext?.Request.Cookies["nav-collapsed"] == "1";
}
