<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Serve index.html as the default document. -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <!-- Show the static notice for every route (e.g. /flows), unless the request is a real file. -->
    <rewrite>
      <rules>
        <rule name="All requests to index.html" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
